<%= form_for [@topic.forum, @topic, message] do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2>The following <%= pluralize(message.errors.count, "error") %> must be fixed in order to save this message:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12 form-group">
      <%= f.text_area :content, :class => "form-control", placeholder: "Content" %>
    </div>
</div>
<div class="row">

  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
