<% content_for :body_class, "animsition page-login-v3 layout-full" %>
<% content_for :page_class, "vertical-align text-center" %>

<div class="page-content vertical-align-middle">
  <div class="panel">
    <div class="panel-body">
      <%= render 'notices' %>
      <div class="brand">
        <%= image_tag "flosscoach-logo", class: "brand-img" %>
        <h2 class="brand-text font-size-18"><%= site_name %> Login</h2>
      </div>
      <%= render 'form' %>
      <p>Still no account? Please go to <%= link_to "Sign up", new_user_path%></p>
    </div>
  </div>
  <div>
  <%= render 'visitor/footer' %>

</div>
