<% content_for :body_class, "page-login-v2 layout-full page-dark" %>
<div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">
    <div class="page-brand-info">
      <div class="brand">
        <h2 class="brand-text font-size-40">FLOSS Coach</h2>
      </div>
      <p class="font-size-20">
        FLOSS Coach creators are researchers who want to help newcomers to Free/Libre Open Source Software (FLOSS)
        Have you ever thought about contributing to an Open Source Project? Have you tried? Was it too hard?
      </p>

      <p class="font-size-20">
        <a href="/projects">Explore projects on Flosscoach.com (no login needed)</a>
      </p>
    </div>

    <div class="page-login-main">
      <h3 class="font-size-24">Reset your password</h3>


        <% if alert %>
          <div class="summary-errors alert alert-danger alert-dismissible">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
            </button>
            <p><%= alert %></p>
          </div>
        <% end %>
       <% if notice %>
          <div class="summary-errors alert alert-success alert-dismissible">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
            </button>
            <p><%= notice %></p>
          </div>
        <% end %>
<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label>New password</label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
      <label>Repeat your new password</label>

    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="actions"><%= f.submit "Update Password" , class: 'btn btn-primary btn-block'%></div>
<% end %>
        <p><%= link_to "Come back to sign in", root_path %></p>

    </div>
  </div>
</div>
