<% content_for :body_class, "page-register-v3 layout-full" %>
<% content_for :page_class, "vertical-align text-center" %>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page-content vertical-align-middle">
  <div class="panel">
    <div class="panel-body">
      <div class="brand">
        <%= image_tag "flosscoach-logo", class: "brand-img" %>
        <h2 class="brand-text font-size-18">Reset Password</h2>
      </div>
      <%= render 'notices' %>
      <%= render 'errors' %>
      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <div class="form-group form-material floating" data-plugin="formMaterial">
        <%= f.password_field :password, class: "form-control", required: true  %>
        <%= f.label :password, "New password", class: "floating-label" %>
      </div>

      <div class="form-group form-material floating" data-plugin="formMaterial">
        <%= f.password_field :password_confirmation, class: "form-control" , required: true %>
        <%= f.label :password_confirmation, "Re-enter your new password", class: "floating-label" %>
      </div>

      <%= f.submit "Update password", class: "btn btn-primary btn-block btn-lg mt-40" %>
      <% end %>
      <p>Did you remember your password? Go <%= link_to "Sign In", sign_in_path  %></p>
    </div>
  </div>

</div>
