<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse"
role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
  data-toggle="menubar">
  <span class="sr-only">Toggle navigation</span>
  <span class="hamburger-bar"></span>
</button>

<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
  <span class="navbar-brand-text hidden-xs-down"><%= site_name %></span>
</div>


</div>
<div class="navbar-container container-fluid">
  <!-- Navbar Collapse -->
  <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
    <!-- Navbar Toolbar -->
    <ul class="nav navbar-toolbar">
      <li class="nav-item hidden-float" id="toggleMenubar">
        <a class="nav-link" data-toggle="menubar" href="#" role="button">
          <i class="icon hamburger hamburger-arrow-left">
            <span class="sr-only">Toggle menubar</span>
            <span class="hamburger-bar"></span>
          </i>
        </a>
      </li>


      <li class="nav-item dropdown dropdown-fw dropdown-mega">
          <%= render 'header_trending' %>
    </li>
  </ul>
  <!-- End Navbar Toolbar -->
  <!-- Navbar Toolbar Right -->
  <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
    <li class="nav-item ">
      <%= link_to sign_in_path, class: "nav-link" do %>
        Sign in
      <% end %>
    </li>
    <li class="nav-item ">
      <%= link_to new_user_path, class: "nav-link" do %>
        Sign up
      <% end %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
      aria-expanded="false" role="button">
      <span class="flag-icon flag-icon-us"></span>
    </a>
    <div class="dropdown-menu" role="menu">
      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
        <span class="flag-icon flag-icon-us"></span> English</a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          <span class="flag-icon flag-icon-br"></span> Portuguese</a>



        </div>
      </li>





</ul>
<!-- End Navbar Toolbar Right -->
<div class="navbar-brand navbar-brand-center">
  <%= link_to projects_path do %>
  <%= image_tag "flosscoach", height: "30" %>
  <% end %>
</div>
</div>
<!-- End Navbar Collapse -->

</div>
</nav>
