<p id="notice"><%= notice %></p>

<h1>Landing Pages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landing_pages.each do |landing_page| %>
      <tr>
        <td><%= link_to 'Show', landing_page %></td>
        <td><%= link_to 'Edit', edit_landing_page_path(landing_page) %></td>
        <td><%= link_to 'Destroy', landing_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landing Page', new_landing_page_path %>
