<%= render 'visitor/header' unless current_user %>
<%= render 'visitor/menu' unless current_user %>

<p id="notice"><%= notice %></p>

<h1><%= @topic.title %></h1>
<p><%= @topic.content %></p>
<hr>
<% @topic.messages.each do |message| %>
<p><%= message.content %></p>
<%end%>

<%= link_to 'Adicionar nova mensagem', new_forum_topic_message_path(@topic.forum, @topic)%>
