
<div class="comment media">
  <div class="media-left">
    <a class="avatar avatar-lg" href="javascript:void(0)">

      <img src="<%= comment.user.photo_url if comment.user.photo_url %>" alt="<%= comment.user.name %>">
    </a>
  </div>
  <div class="comment-body media-body">
    <a class="comment-author" href="javascript:void(0)"><%= comment.user.name %></a>
    <div class="comment-meta">
      <span class="date"><%= time_ago_in_words comment.created_at %> ago</span>
    </div>
    <div class="comment-content">
      <p><%= comment.content %></p>
    </div>
    <div class="comment-actions">
      <a href="javascript:void(0)" class='btn-reply' role="button">Reply</a>
      <%if current_user.id == comment.user_id%>
        <%= link_to 'Delete comment', widget_comment_path(id: comment.id, widget_id: comment.widget_id), method: :delete, data: {confirm: "Are you sure you want to delete it?"} %>
      <%end%>
    </div> 

      <%= render 'widgets/comments/reply_form', comment: comment %>
       <% unless comment.replies.empty? %>
       <div class="comments">
     <%= render comment.replies%>
    </div>
     <% end %>
  </div>


</div>
