<%  
user = audit.user
changes = audit.audited_changes
%>

<li class="list-group-item">
  <div class="media">
    <div class="media-left">
      <a class="avatar" href="javascript:void(0)">
              <%= image_tag(user.photo_url, :alt => "...", :class => "img-responsive") if user %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
      <% if audit.user == current_user %>
          You
      <% else %> 
      <%= user.name if user %>
      <% end %>
        <% if audit.action = "update"%>
          <span> has updated</b> 
        <%end%>
        <% if audit.auditable_type == "User" && 
          audit.auditable == current_user %>
           yourself 
        <% end %>
        <% changes.each_with_index do |(change, lol), i|  %>
          <%= link_to audit.auditable_type ,audit.auditable %> 
         <i><%= "#{change}" %></i> to
         <b><%= (lol.is_a?(Array) ? "#{lol[1]}" : "#{lol}") %></b>
         <% unless i == (changes.length-1) %>
          and
         <% end %>
        <% end %>
        </span>



      </h4>
      <small><%= time_ago_in_words audit.created_at %> ago</small>
      <div class="profile-brief"></div>
    </div>
  </div>
</li>