<%= form_for(user) do |f| %>
<div class="form-group form-material floating" data-plugin="formMaterial">
  <%= f.text_field :username, class: "form-control", required: true  %>
  <%= f.label :username, "Choose a nickname to use on #{site_name}",
  class: "floating-label"%>
</div>

  <div class="form-group form-material floating" data-plugin="formMaterial">
    <%= f.text_field :name, class: "form-control", required: true %>
    <%= f.label :name, "Full name", class: "floating-label" %>
  </div>

  <div class="form-group form-material floating" data-plugin="formMaterial">
    <%= f.email_field :email, class: "form-control", required: true  %>
    <%= f.label :email, "Email", class: "floating-label" %>
  </div>

  <div class="form-group form-material floating" data-plugin="formMaterial">
    <%= f.password_field :password, class: "form-control", required: true  %>
    <%= f.label :password, "Password", class: "floating-label" %>
  </div>

  <div class="form-group form-material floating" data-plugin="formMaterial">
    <%= f.password_field :password_confirmation, class: "form-control" , required: true %>
    <%= f.label :password_confirmation, "Re-enter Password", class: "floating-label" %>
  </div>

  <div class="form-group clearfix">
    <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
      <%= f.check_box :terms, required: true  %>
      <%= f.label :terms, "I accept #{site_name} Terms" %>
    </div>
  </div>

  <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg mt-40" %>
  <% end %>
  <button class="btn btn-github btn-block btn-lg mt-40">
      <%= link_to 'Sign In with Github', '/auth/github', class: "fa fa-github" %>
    </button>
