<%if current_user == @user%> 
  <% @user.projects.each do |project| %>
    <li class="list-group-item">
      <div class="media">
      	<%if project.status == "inactive"%>
      		<h6 class="mt-0 mb-5 text-danger"><%= project.status.capitalize%></h6>
      	<%else%>
      		<h6 class="mt-0 mb-5 text-success"><%= project.status.capitalize%></h6>
      	<%end%>
        <div class="pr-20">
          <%= link_to project, class: "avatar" do %>
            <%= image_tag project.image.url(:thumb), class: "img-fluid" %>
          <% end %>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-5 hover"><%= link_to project.name, project %></h5>

          <small><%= project.name %> owner</small>
        </div>
      </div>
    </li>
  <%end%>
<%else%> 
  <% @user.projects.active.each do |project| %>
    <li class="list-group-item">
      <div class="media">
        <div class="pr-20">
          <%=link_to project, class: "avatar" do%>
            <%= image_tag project.image.url(:thumb), class: "img-fluid" %>
          <%end%>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-5 hover"><%= link_to project.name, project %></h5>
          <small><%= project.name %> owner</small>
        </div>
      </div>
    </li>
  <%end%>
<%end%>