<% content_for :body_class, "animsition page-register-v3 layout-full" %>
<% content_for :page_class, "vertical-align text-center" %>


  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <%= image_tag "flosscoach-logo", class: "brand-img" %>
            <h2 class="brand-text font-size-18"><%= site_name %> Register</h2>
          </div>
          <% if @user.errors.any? %>
          <div role="alert" class="alert dark alert-danger alert-icon alert-dismissible">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button">
              <span aria-hidden="true">×</span>
            </button>
            <i class="icon md-notifications" aria-hidden="true"></i>
            <h4><%= pluralize(@user.errors.count, "Error") %> creating a user</h4>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= render 'form', user: @user %>
          <p>Have account already? Please go to <%= link_to "Sign In", sign_in_path  %></p>
        </div>
      </div>
      <%= render 'visitor/footer' %>
    </div>
