<div class="grid-stack-item"
    data-gs-id="<%= widget.id %>"
    data-gs-x="<%= widget.pos_x %>"
    data-gs-y="<%= widget.pos_y %>"
    data-gs-width="<%= widget.width %>"
    data-gs-height="<%= widget.height %>"
    data-gs-slug="<%= widget.slug %>"
    data-gs-no-resize="<%= 'true' unless @project.owner?(current_user)  %>"
    data-gs-no-move="<%= 'true' unless @project.owner?(current_user)  %>"
    data-gs-locked="<%= 'true' unless @project.owner?(current_user)  %>">

  <div class="grid-stack-item-content panel panel-bordered panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= widget.title %></h3>

      <div class="panel-actions">
        <% if logged_in? %>
        <a class="panel-action icon wb-chat-group" data-target='#comments<%= widget.id %>' data-toggle="modal"></a>
        <% end %>

        <% if @project.owner?(current_user) && widget.editable?   %>
        <%= link_to "", edit_project_widget_path(@project,widget), class: "panel-action icon wb-edit "%>
        <% end %>

        <a class="panel-action icon fa-bolt" href="javascript:void(0)"
        data-plugin="webuiPopover" data-title="Example Title tip"
        data-content="<p>Example tip for this widget.</p>"
        data-target="webuiPopover3"></a>

        <% if logged_in? && widget.deletable? && @project.owner?(current_user) %>
        <%= link_to "", project_widget_path(@project, widget),
        method: :delete, :class => "panel-action icon wb-close",
        :data => {confirm: "You sure delete this widget?", toogle: 'panel-close'} %>
        <% end %>
      </div>

    </div>
    <div class="panel-body" id="<%= widget.id %>">
      <%= widget.content.html_safe if widget.content %>
    </div>
  </div>
</div>

<% create_modal("Comments", "comments#{widget.id}") do %>
    <div class="comments">
      <%= render widget.comments.except_replies %>
    </div>
    <%= render 'widgets/comments/form', :widget => widget %>
<% end if widget.commentable? %>


<% create_modal("Opine here!", "project_comments") do %>
    <%= render "projects/comments/form" %>
<% end if widget.is_a?(OpinionWidget) %>
