<div class="grid-stack-item"
    data-gs-id="<%= widget.id %>"
    data-gs-x="<%= widget.pos_x %>"
    data-gs-y="<%= widget.pos_y %>"
    data-gs-width="<%= widget.width %>"
    data-gs-height="<%= widget.height %>"
    data-gs-slug="<%= widget.slug %>"
    data-gs-no-resize=""
    data-gs-no-move=""
    data-gs-locked="">

  <div class="grid-stack-item-content panel panel-bordered" >
    <div class="panel-heading">
      <h3 class="panel-title widget-title" data-plugin="summernote" data-air-mode="true" ><%= t(widget.title) %></h3>
      <div class="panel-actions">
        <a class="panel-action icon wb-chat-group" data-target='#comments<%= widget.id %>' data-toggle="modal"></a>

        <% if widget.retractable? %>
        <!--
        <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
        -->
        <% end %>

        <a class="panel-action icon wb-edit" data-toggle="panel-edit" onclick="toggleGridEditable(this)"  aria-hidden="true"></a>

        <% if widget.closeable? %>
        <%= link_to "", widget_path(widget), method: :delete, :class => "panel-action icon wb-close", :data => {confirm: "You sure?", toogle: 'panel-close'} %>
        <% end %>

      </div>
    </div>
    <div id="<%= widget.id %>" class="panel-body click2edit">
      <%= widget.content.html_safe %>
    </div>
  </div>
</div>
<div class="modal fade" id="comments<%= widget.id %>" aria-hidden="false"  aria-labelledby="comments<%= widget.id %>" role="dialog" tabindex="-1" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="exampleOptionalLarge">Comments</h4>
      </div>
      <div class="modal-body">
        <div class="comments">


        <% reply ||= true %>
        <% unless widget.comments.is_not_reply.empty? %>
        <%= render widget.comments.is_not_reply, locals: {reply: true} %>
        <% end %>
        </div>


      <%= render 'comments/form', :widget => widget %>
      </div>
    </div>
  </div>
</div>
