<div class="fields-form">
  <%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
  <div class="summary-errors alert alert-danger alert-dismissible">
    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
      <span aria-hidden="true">×</span>
    </button>
    <p><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</p>
    <ul>
      <% @project.errors.full_messages.each do |message| %>
      <li data-field="summary_fullName"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <p> Select your profile photo
    <%= f.file_field :image_project %>
    </p>
  </div>

  <%= f.submit t('Submit'), class: 'btn btn-primary btn-block' %>

  <% end %>
</div>
