<li class="list-group-item" id="<%= project.id %>">
  <div class="media">

    <div class="pr-10 ml-10">
      <a class="" href="javascript:void(0)">
        <%= link_to project, class: "avatar" do %>
        <% image_tag project.photo_url %>
        <% end %>
      </div>
      <div class="media-left">
        <%= link_to project do %>
        <div class="avatar avatar-online">

        </div>
        <% end %>
      </div>

      <div class="media-body">
        <h3 class="mt-0 mb-5">
          <%= link_to project.name, project %>
        </h3>
        <span><%= project.description %></span>

      </div>
      <div class="pl-20 mt-15">
        <span>
        <%= project.fans.size %> persons favorited this
              <i class="icon md-star"></i>
      </span>
                        </div>
    </div>
  </li>
