<li class="list-group-item" id="<%= project.id %>">
<div class="media">

  <div class="media-left">
    <%= link_to project do %>
      <div class="avatar avatar-online">
        <img src="<%= project.photo_url %>" alt="<%= project.name %> image"/>
      </div>
    <% end %>
  </div>

  <div class="media-body">
  <% if current_user %>
  <div class="pull-right favorite-button-wrapper">
  <% unless current_user.favorited_projects.include?(project) %>
    <%= button_to "Favorite this project", project_favorite_path(project), :class => "btn btn-outline btn-default btn-sm favorite-button", :remote => true %>
  <% else %>
    <%= button_to "Project favorited", project_favorite_path(project), :class => "btn btn-success btn-default btn-sm disfavorite-button", :method => :delete , :remote => true %>
  <% end %>
  </div>
  <% end %>

  <%= link_to project do %>
    <h4 class="media-heading">
      <%= project.name %>
    </h4>
    <p>
      <%= project.description %>
    </p>
   <% end %>

    <p><%= project.fans.size %> persons favorited this.</p>

  </div>

</div>
</li>
