<ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist" >
  <li class="active">
    <a data-toggle="tab" href="#about_aba"><%=t('About')%></a>
  </li>
  <li>
    <a data-toggle="tab"  href="#how-to-start"><%=t('How to start')%></a>
  </li>
  <li>
    <a data-toggle="tab" href="#config-workspace"><%=t('Configure workspace')%></a>
  </li>
  <li>
    <a data-toggle="tab" href="#know-code"><%=t('Know the code')%></a>
  </li>
  <li>
    <a data-toggle="tab" href="#send_contribution"><%=t('Send contribution')%></a>
  </li>
  <% if @project.owners.include?(current_user) %>
  <li>
    <%= link_to t('Owners'), project_users_path(@project) %>
  </li>
  <% end %>
 </ul>
