
<div class="page-header">

  <h1 class="page-title ">Create/add your project on <%= site_name %></h1>
  <p class="lead">
    Add your project to <%= site_name %> and help newbies collaborate with your project.
  </p>
</div>

<div class="page-content">
  <div class="panel" id="exampleWizardForm">
            <div class="panel-heading">
              <h3 class="panel-title">Wizard Form</h3>
            </div>
            <div class="panel-body">
              <!-- Steps -->
              <div class="steps steps-sm row" data-plugin="matchHeight" data-by-row="true" role="tablist">
                <div class="step col-lg-4 current active error" data-target="#exampleAccount" role="tab" aria-expanded="true">
                  <span class="step-number">1</span>
                  <div class="step-desc">
                    <span class="step-title">Account</span>
                    <p>Login for identification</p>
                  </div>
                </div>
                <div class="step col-lg-4 disabled" data-target="#exampleBilling" role="tab" aria-expanded="false">
                  <span class="step-number">2</span>
                  <div class="step-desc">
                    <span class="step-title">Billing</span>
                    <p>Pay for the bill</p>
                  </div>
                </div>
                <div class="step col-lg-4 disabled" data-target="#exampleGetting" role="tab" aria-expanded="false">
                  <span class="step-number">3</span>
                  <div class="step-desc">
                    <span class="step-title">Getting</span>
                    <p>Waiting for the goods</p>
                  </div>
                </div>
              </div>
              <!-- End Steps -->
              <!-- Wizard Content -->
              <div class="wizard-content">
                <div class="wizard-pane active" id="exampleAccount" role="tabpanel" aria-expanded="true">
                  <form id="exampleAccountForm" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit disabled" style="display: none; width: 0px; height: 0px;" disabled="disabled"></button>
                    <div class="form-group form-material has-danger">
                      <label class="form-control-label" for="inputUserName">Username</label>
                      <input type="text" class="form-control" id="inputUserName" name="username" required="required" data-fv-field="username">
                    <small class="text-help" data-fv-validator="notEmpty" data-fv-for="username" data-fv-result="INVALID" style="">The username is required</small><small class="text-help" data-fv-validator="stringLength" data-fv-for="username" data-fv-result="VALID" style="display: none;">The username must be more than 6 and less than 30 characters long</small><small class="text-help" data-fv-validator="regexp" data-fv-for="username" data-fv-result="VALID" style="display: none;">The username can only consist of alphabetical, number, dot and underscore</small></div>
                    <div class="form-group form-material has-danger">
                      <label class="form-control-label" for="inputPassword">Password</label>
                      <input type="password" class="form-control" id="inputPassword" name="password" required="required" data-fv-field="password">
                    <small class="text-help" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID" style="">The password is required</small><small class="text-help" data-fv-validator="different" data-fv-for="password" data-fv-result="VALID" style="display: none;">The password cannot be the same as username</small></div>
                  </form>
                </div>
                <div class="wizard-pane" id="exampleBilling" role="tabpanel" aria-expanded="false">
                  <form id="exampleBillingForm" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                    <div class="form-group form-material">
                      <label class="form-control-label" for="inputCardNumber">Card Number</label>
                      <input type="text" class="form-control" id="inputCardNumber" name="number" placeholder="Card number" data-fv-field="number">
                    <small class="text-help" data-fv-validator="notEmpty" data-fv-for="number" data-fv-result="NOT_VALIDATED" style="display: none;">The credit card number is required</small></div>
                    <div class="form-group form-material">
                      <label class="form-control-label" for="inputCVV">CVV</label>
                      <input type="text" class="form-control" id="inputCVV" name="cvv" placeholder="CVV" data-fv-field="cvv">
                    <small class="text-help" data-fv-validator="notEmpty" data-fv-for="cvv" data-fv-result="NOT_VALIDATED" style="display: none;">The CVV number is required</small></div>
                  </form>
                </div>
                <div class="wizard-pane" id="exampleGetting" role="tabpanel" aria-expanded="false">
                  <div class="text-center my-20">
                    <i class="icon md-check font-size-40" aria-hidden="true"></i>
                    <h4>We got your order. Your product will be shipping soon.</h4>
                  </div>
                </div>
              </div>
              <!-- End Wizard Content -->
            <div class="wizard-buttons"><a class="btn btn-default btn-outline disabled waves-effect waves-classic" href="#exampleWizardForm" data-wizard="back" role="button">Back</a><a class="btn btn-primary btn-outline float-right waves-effect waves-classic" href="#exampleWizardForm" data-wizard="next" role="button">Next</a><a class="btn btn-success btn-outline float-right hidden-xs-up waves-effect waves-classic" href="#exampleWizardForm" data-wizard="finish" role="button">Finish</a></div></div>
          </div>
          
  <div class="panel">
    <div class="panel-body container-fluid">
      <% if @project.errors.any? %>
      <div role="alert" class="alert dark alert-danger alert-icon alert-dismissible">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <i class="icon md-notifications" aria-hidden="true"></i>
        <h4><%= pluralize(@project.errors.count, "Error") %> creating a project</h4>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          <% @project.widgets.each do |widget| %>
            <% widget.errors.full_messages.each do |message| %>
              <li>Widget <%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>



  <%= form_for @project do |f| %>
  <div class="row">
    <div class="col-lg-12 form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name , :class => "form-control", placeholder: t('Name') %>
    </div>
    <div class="col-lg-12 form-group">
      <%= f.label :description, "Description" %>

      <%= f.text_area :description, :class => "form-control", :rows => 4, placeholder: t('Description') %>
    </div>
    <div class="col-lg-12 form-group">
      <%= check_box_tag 'openhub_check' %> <%=t('I want to get data from OpenHub')%>

    </div>
    <div class="col-lg-12 form-group">
      <%= f.label :plain_tags, "Tags" %>
      <%= f.text_field :plain_tags, class: "form-control" %>


    </div>

    <div class="col-sm-12 pull-right">
      <%= f.submit t('Create project') , class: "btn btn-primary btn-outline", data: { disable_with: "Please wait.." } %>

    </div>
    <% end %>
  </div>

  </div>

</div>
