<% content_for :body_class, "page-login-v2 layout-full page-dark" %>
<div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">
    <div class="page-brand-info">
      <div class="brand">
        <h2 class="brand-text font-size-40">FLOSS Coach</h2>
      </div>
      <p class="font-size-20">
        FLOSS Coach creators are researchers who want to help newcomers to Free/Libre Open Source Software (FLOSS)
        Have you ever thought about contributing to an Open Source Project? Have you tried? Was it too hard?
      </p>

      <p class="font-size-20">
        <a href="/projects">Explore projects on Flosscoach.com (no login needed)</a>
      </p>
    </div>

    <div class="page-login-main">
      <h3 class="font-size-24">Sign In</h3>
      <p>Please, visit us! Check our prototype and give us your feedback</p>

      <%= form_for(User.new, url: users_login_path) do |f| %>
        <% if alert %>
          <div class="summary-errors alert alert-danger alert-dismissible">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
            </button>
            <p><%= alert %></p>
          </div>
        <% end %>
       <% if notice %>
          <div class="summary-errors alert alert-success alert-dismissible">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
            </button>
            <p><%= notice %></p>
          </div>
        <% end %>
        <div class="form-group">
          <label class="sr-only" for="user_email">Email</label>
          <input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Email">
        </div>

        <div class="form-group">
          <label class="sr-only" for="user_password">Password</label>
          <input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
        </div>

        <%= f.submit 'Sign In', class: 'btn btn-primary btn-block' %>

      <% end %>

      <div class='social-login'>
        <h4>or login with...</h4>
        <%= link_to "/auth/facebook" do %>
          <button type="button" class="btn  btn-labeled social-facebook ">
            <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span> Facebook
          </button>
        <% end %>

        <%= link_to "/auth/twitter" do %>
          <button type="button" class="btn  btn-labeled social-twitter ">
            <span class="btn-label"><i class="icon bd-twitter" aria-hidden="true"></i></span>Twitter
          </button>
        <% end %>

        <%= link_to "/auth/github" do %>
          <button type="button" class="btn btn-labeled social-github">
            <span class="btn-label"><i class="icon bd-github" aria-hidden="true"></i></span>GitHub
          </button>
        <% end %>
      </div>

      <hr>

      <p>Haven't an account yet? Please, <%= link_to 'Sign Up', new_user_path %>!</p>
			<footer class="site-footer">
        <div class="site-footer-legal">© 2016 <a href="#">Flosscoach</a> </div>
        <p align="Right"> <a href="?locale=pt-BR">Br</a> <a href="?locale=en">En</a>

      </footer>
        
    </div>
  </div>
</div>
