<div class="page-content">

        <div class="text-center">
          <h3>
            <%= t('Explore Flosscoach')%>
          </h3>
          <p class="lead">
            <%= t('Discover projects, groups and technologies.')%> <%= t('Share your projects with others')%>
          </p>
          <br>
        </div>

      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
          <h3 class="text-center"><%= t('Administrators of')%><%= @project.name %> <%= t('project')%> </h4>
          <ul class="list-group list-group-full">
          <% @project.owners.each  do |member| %>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <span class="avatar">
                              <%= link_to user_path(member) do %>

                      <img class="img-responsive" src="<%= member.photo_url %>" alt="Photo of <%= member.name %>">
                                                                 <% end %>

                      </span>
                  </div>
                  <div class="media-body">
          <%= link_to user_path(member) do %>

                    <h4 class="media-heading"><%= member.name %></h4>
                                           <% end %>

                    <small><%= t('Administrator')%></small>

                  </div>

                  <div class="media-right">
                    <%= link_to '' ,project_user_path(@project, member),
                      data: {:confirm => t('Are you sure?')}, :class => "status status-lg wb-close" , :method => :delete %>
                  </div>
                </div>
              </li>

           <% end %>

                </ul>
        </div>
      </div>
      <!-- End Panel -->

        <%= link_to new_project_user_path do %>
        <button class="btn btn-floating btn-success" style="position:fixed; bottom:50px; right:20px; border-radius:50%;">
          <i class="icon wb-plus" aria-hidden="true"></i>
        </button>
        <% end %>
<!-- POPUP -->
</div>
