<!DOCTYPE html>
<html class="no-js css-menubar">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <title>Flosscoach</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag  params[:controller], media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>



    <style>
      .grid-stack-item-content {
        font-size: 14px!important;
        text-align: left!important;
      }

    </style>
    <%= javascript_include_tag 'remark/global/vendor/breakpoints/breakpoints.js' %>

    <script>
    Breakpoints();
    </script>
  </head>
  <body class="animsition <%= yield :body_class %>">

    <%= render 'header' %>
    <%= render 'menu' %>

    <div class="page <%= yield :page_class %>">
      <%= yield %>
    </div>
    <%= render 'footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>

  </body>
</html>
