<!DOCTYPE html>
<html class="no-js css-menubar">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <title>Flosscoach</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag  'visitor', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'remark/global/vendor/breakpoints/breakpoints.js' %>
    <script>
      Breakpoints();
    </script>
  </head>
    <%= render 'header' if params[:controller] == "project" %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'visitor' %>

</html>
